@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border-none text-xl font-semibold flex items-center bg-[#d6d6d6] text-[#727272] px-[20px] py-[5px] rounded-[10px] cursor-pointer;
}

label {
  color: #7f7e86;
  font-size: 1.3rem;
}

input {
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  background-color: #fff;
  color: #7f7e86;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 5px 15px;
  height: 35px;
  outline: none;
  max-width: 500px;
}

.home-page div {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.home-page p {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.tasks span {
  width: 50%;
  height: 3px;
  display: block;
  margin-bottom: 30px;
  border-radius: 2px;
}
.tasks span.todo {
  background-color: #f2b82e;
}
.tasks span.inProgress {
  background-color: #1be2b1;
}
.tasks span.review {
  background-color: #3f79f7;
}
.tasks span.done {
  background-color: #14d3e2;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
